[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
coreapi = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
uritemplate = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"
